/* Скролбар */
*::-webkit-scrollbar {
   width: 9px;
   height: 9px;
}

/* Фон скролбару */
*::-webkit-scrollbar-track {
   background-color: #403e3e;
}

/* Перехрестя скролбарів */
*::-webkit-scrollbar-corner {
   background-color: #3b3838;
}

/* Смужка скролбару */
*::-webkit-scrollbar-thumb {
   background-image: repeating-linear-gradient(45deg,
   #000000,
   #070707 20px,
   #0d65fd 20px,
   #0d95fd 40px);
 }

 /* Стилі скролбару для браузера Firefox */
* {
   scrollbar-color: #0d6dfd #333333;
   scrollbar-width: auto;
}