*{
    margin:0;
    padding:0;
   }
   body{
    min-height:100vh;
    box-sizing:border-box;
    display:flex;
   }
   app-root{
    flex:1;
    display:run-in;
    flex-direction:column;
    font-family:Georgia, serif;
    font-size:14px;
   }
